# SWE486 Project

In [1]:
#Libraries

import pandas as pd
import re 
import string

# Display the tweet fully using:
pd.set_option('display.max_colwidth', None)
pd.set_option('max_colwidth', None)

In [63]:
df = pd.read_csv('Matcha#DatasetCleaned.csv')
df2 = pd.read_csv('Matcha#DatasetTest.csv')
df3 = pd.read_csv('Matcha#DatasetCleaned.csv')

## Data Exploration

In [78]:
# to return columns' names of the dataset
df.columns

Index(['Created at', 'User', 'Tweet', 'ID', 'Number of Retweets',
       'Number of likes', 'Source', 'Location'],
      dtype='object')

In [79]:
# to return each column with the corresponding non-null values count and its data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2935 entries, 0 to 3347
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Created at          2935 non-null   object
 1   User                2935 non-null   object
 2   Tweet               2935 non-null   object
 3   ID                  2935 non-null   float64
 4   Number of Retweets  2935 non-null   int64
 5   Number of likes     2935 non-null   int64
 6   Source              2935 non-null   object
 7   Location            2105 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 206.4+ KB

In [80]:
# to return the count of non-null values in each column
df.count()

Created at            2935
User                  2935
Tweet                 2935
ID                    2935
Number of Retweets    2935
Number of likes       2935
Source                2935
Location              2105
dtype: int64

In [81]:
# to return the total number of rows
len(df)

2935

In [82]:
# to return statistical calculations
df.describe()

                 ID  Number of Retweets  Number of likes
count  2.935000e+03         2935.000000      2935.000000
mean   1.577722e+18            0.270869         3.850767
std    8.007880e+14            2.985745        43.048080
min    1.576250e+18            0.000000         0.000000
25%    1.577060e+18            0.000000         0.000000
50%    1.577730e+18            0.000000         1.000000
75%    1.578400e+18            0.000000         2.000000
max    1.579140e+18           77.000000      2132.000000

In [83]:
df.head()

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
0,2022-10-09 15:56:27+00:00,SPStavrosAuthor,"I try to drink matcha over coffee, because it helps with anxiety problems instead of making them worse",1.579140e+18,0,0,Twitter for Android,Canada
1,2022-10-09 15:54:44+00:00,dellianarose,Height: 5‚Äô3‚Äù. Age: 29. Shoe Size: 8 or 9 (depending on the shoe) . Zodiac Sign: Sagittarius . Tattoos: 1 . Piercings: 2‚Ä¶,1.579140e+18,0,0,Twitter for iPhone,"Ottawa, Ontario"
2,2022-10-09 15:36:25+00:00,DeeReads_,drink matcha and sin,1.579130e+18,0,1,Twitter Web App,NaN
3,2022-10-09 14:57:00+00:00,atasteofmadness,"Easy Vanilla Matcha Chai Latte recipe. This healthy warm comforting drink idea is vegan and gluten free, perfect on‚Ä¶",1.579120e+18,1,0,Twitter Web App,"Chicago, IL"
4,2022-10-09 14:21:21+00:00,ogidigest,did you drink your oatly matcha latte today?,1.579110e+18,0,0,Twitter Web App,NaN

In [84]:
df.shape

(2935, 8)

## Data Issues:

### Issue #1: Duplicates

In [85]:
# Find duplicated rows that have the same value in 'Tweet' column
df[df.duplicated(subset='Tweet')].head()

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
144,2022-10-07 10:20:16+00:00,WeLoveAmazon777,METCHA MATCHA. . üå∏. . A literature review published in the journal Japanese Medicine asserts tha‚Ä¶,1.578330e+18,0,0,Botbird tweets,United States
252,2022-10-05 20:50:01+00:00,WeLoveAmazon777,METCHA MATCHA. . üå∏. . A literature review published in the journal Japanese Medicine asserts tha‚Ä¶,1.577760e+18,0,0,Botbird tweets,United States
306,2022-10-05 08:53:17+00:00,riacarrogan,,1.577580e+18,0,4,Twitter for iPhone,NaN
317,2022-10-05 04:18:35+00:00,WeLoveAmazon777,METCHA MATCHA. . üå∏. . A literature review published in the journal Japanese Medicine asserts tha‚Ä¶,1.577510e+18,0,0,Botbird tweets,United States
357,2022-10-04 18:00:21+00:00,HlalShyryn,"mzdao . To prevent winter diseases, you should eat the most important natural healthy foods ÿå drinks:honey, dates,b‚Ä¶",1.577360e+18,0,1,Twitter for Android,ŸÖÿµÿ±

In [86]:
# duplicates count
df.duplicated(subset='Tweet').sum()

95

In [87]:
# remove duplicates
df.drop_duplicates(subset='Tweet', inplace=True)
df3.drop_duplicates(subset='Tweet', inplace=True)

In [88]:
# check if duplicates were removed
df.duplicated(subset='Tweet').sum()
df3.duplicated(subset='Tweet').sum()

0

In [89]:
# check total number of rows in df
df.shape

(2840, 8)

### Issue #2: Hyperlinks

In [90]:
#Display tweets contain hyperlinks
df[df['Tweet'].str.contains('http\S')].count()

Created at            0
User                  0
Tweet                 0
ID                    0
Number of Retweets    0
Number of likes       0
Source                0
Location              0
dtype: int64

In [91]:
#Which .head(5) brings the 1st five rows tweets contain hyperlinks
#As shouwn; it brings rows contain Hyperlinks before manipulating 
df[df['Tweet'].str.contains('http\S')].head(5)

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

In [92]:
#This function removes hyperlinks from the tweets
def remove_URL(tweet):
    """Remove URLs from a sample string"""
    return re.sub(r"http\S+", "", tweet)

#Apply remove_URL method
df['Tweet'] = df['Tweet'].apply(remove_URL)
df3['Tweet'] = df3['Tweet'].apply(remove_URL)

In [93]:
#To make sure 'Tweet' Column doesn't contain hyperlinks [I]
df[df['Tweet'].str.contains('http\S')].count()

Created at            0
User                  0
Tweet                 0
ID                    0
Number of Retweets    0
Number of likes       0
Source                0
Location              0
dtype: int64

In [94]:
#To make sure 'Tweet' Column doesn't contain hyperlinks [II]
#Which .head(5) brings the 1st five rows tweets contain hyperlinks
#As shouwn; it doesn't bring any row
df[df['Tweet'].str.contains('http\S')].head(5)

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

### Issue #3: Normalization

In [95]:
# NORMALIZATION PROBLEM

# It's been noticed that some Twitter users use 'Matcha' and sometimes 'Macha' while referring to the same drink.
# Therefore, it will be normalized to 'Matcha' in all tweets.

#This method takes the tweet as the parameter, normalizes the drink's spelling, then returns it.
def normalize(tweet):
    tweet = re.sub("macha","matcha", tweet)
    tweet = re.sub("Macha","matcha", tweet)
    tweet = re.sub("MACHA","matcha", tweet)
    return tweet

In [96]:
df['Tweet'] = df['Tweet'].apply(normalize)
df3['Tweet'] = df3['Tweet'].apply(normalize)

In [97]:
#Return a sample of the dataset
df.sample(5)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
319,2022-10-05 03:59:04+00:00,Sakisui_,"Thanks for the tag Yuu!~ UwU. . ‚ÄîFive favs‚Äî. Food: Pizza üçï. Drink: Lychee Tea, Matcha. Color: Green. Season: Spring üíê. Ani‚Ä¶",1.577510e+18,1,3,Twitter for Android,NaN
1315,2022-10-05 20:02:54+00:00,sheeshdally,"matcha latte (light ice) with 2 pumps of chai tea, oat milk &amp; extra vanilla foamü§§ü§§",1.577750e+18,0,1,Twitter for iPhone,ATL HOE
1942,2022-10-02 16:53:08+00:00,mykaylaa_m,Can‚Äôt help but yell ‚Äúfuck‚Äù after that first sip of a good matcha latte.,1.576620e+18,0,1,Twitter for iPhone,mommin
700,2022-10-08 19:57:29+00:00,RisaVtuber,"Like I've been doing scuffed matcha latte for two days now and it's yummy, but also it's done so wrong üòÇ",1.578840e+18,0,2,Twitter Web App,NaN
302,2022-10-05 12:02:18+00:00,0xShar,"another day, another matcha drink üçµ",1.577630e+18,0,28,Twitter for iPhone,shar | smcapital.eth#7914

In [98]:
# To check if 'macha' has been replaced with 'matcha', an attempt to return any tweet that contains the word 'macha' is made
# However, the dataframe returned is empty, which means there aren't any tweets with the word 'macha', and our normalization
# is successful!

df[df['Tweet'].str.contains('macha')]

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

In [99]:
# Here, all of the tweets in the sample contain 'matcha' and not 'macha'
df[df['Tweet'].str.contains('matcha')].sample(10)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
2886,2022-10-05 01:33:17+00:00,nalgonjm,matcha iced tea üò≠üò≠ it don‚Äôt look like it tho,1.577470e+18,0,0,Twitter for iPhone,yas/üá∏üáª/eighteen.
180,2022-10-06 19:31:55+00:00,GuyCalledJavi,"i went all out on this matcha stuff, i drink it from bowls and whisk it with bamboo. morning ritual added.... i'm so fuckin cool dude üòÇ",1.578110e+18,0,1,Twitter Web App,NaN
1353,2022-10-05 18:33:38+00:00,Brandizzlezz,Iced matcha tea w oat milk &amp; 3 pumps of vanilla or Iced blond vanilla latte with sweet cream foam,1.577730e+18,0,0,Twitter for iPhone,NaN
2279,2022-10-09 11:33:34+00:00,061_troop,Wawa green matcha tea callin a real nigga to the stand,1.579070e+18,0,0,Twitter for iPhone,bermuda
671,2022-10-09 00:46:24+00:00,minimefr,"7:45 hot matcha latte w coconut milk (80) . . i‚Äôm soooo hungry honestly, gonna go to sleep soon",1.578910e+18,0,0,Twitter for iPhone,they/she
321,2022-10-05 03:07:52+00:00,myctwits,Find out the benefits of consuming matcha!. . food myc mycnews matcha benefitsofmatcha greentea matchadrink‚Ä¶,1.577500e+18,0,0,Twitter Web App,NaN
1802,2022-10-03 15:10:29+00:00,herewegosiu,How to find a matcha latte in europe that tastes like in asiaü•≤ . im craving for the pure matcha somatcha,1.576950e+18,0,0,Twitter for iPhone,NaN
1456,2022-10-05 06:49:19+00:00,mollymymee,maybe I'll need 10 cups of matcha latte to feels alright,1.577550e+18,0,0,Twitter Web App,NaN
612,2022-10-09 09:23:46+00:00,RiviereTosh,"I like matcha, I've never tried matcha latte, that sounds delicious",1.579040e+18,0,0,Twitter for Android,Canada
849,2022-10-07 22:12:15+00:00,DEClDEWES10,got starbucks again today matcha latte w pumpkin cold foam is SO GOOD THABKS WESTO N,1.578510e+18,0,0,Twitter for iPhone,he/him | 19 | carrd byf!

### Issue #4: Punctuations:

In [100]:
#This function removes punctuations from the tweets

def remove_punctuations(tweets):
    translator=str.maketrans('','','!"#$%&()*+,-./:;<=>?@[\]^_`{|}~')
    newTweets=tweets.translate(translator)
    newTweets=' '.join(c for c in newTweets.split())
    return newTweets

#Apply remove_punctuations method
df['Tweet'] = df['Tweet'].apply(remove_punctuations)

In [26]:
#To make sure 'Tweet' Column doesn't contain punctuations (comma as an example)
df[df['Tweet'].str.contains(',')].count()

Created at            0
User                  0
Tweet                 0
ID                    0
Number of Retweets    0
Number of likes       0
Source                0
Location              0
dtype: int64

In [27]:
df[df['Tweet'].str.contains(',')].head(5)

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

### Issue #5: Remove hashtags, mentions, taps and new lines

In [101]:
#This function removes # ,@ and new lines from tweets

def remove_hashtags(tweet):
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    tweet = re.sub(r'\n','. ', tweet)
    
    #Replace @username with empty string
    tweet = re.sub('@[^\s]+', ' ', tweet)
    
    #Replace new lines with white space
    tweet = tweet.replace('\n',' ')
    tweet = tweet.replace('\t',' ')
    tweet = tweet.replace('_',' ')
    tweet = tweet.replace('\r',' ')
    
    return tweet

#Apply remove_punctuations method
df['Tweet'] = df['Tweet'].apply(remove_hashtags)
df3['Tweet'] = df3['Tweet'].apply(remove_hashtags)

In [102]:
df.to_csv('Matcha#DatasetCleaned.csv', index=False)

In [77]:
df3.to_csv('test.csv', index=False)