# SWE486 Project

In [1]:
#Libraries

import pandas as pd
import re 

# Display the tweet fully using:
pd.set_option('display.max_colwidth', None)
pd.set_option('max_colwidth', None)

In [ ]:
df = pd.read_csv('Matcha#DatasetCleaned.csv')
df2 = pd.read_csv('Matcha#DatasetTest.csv')

## Data Exploration

In [3]:
# to return columns' names of the dataset
df.columns

Index(['Created at', 'User', 'Tweet', 'ID', 'Number of Retweets',
       'Number of likes', 'Source', 'Location'],
      dtype='object')

In [4]:
# to return each column with the corresponding non-null values count and its data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3348 entries, 0 to 3347
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Created at          3348 non-null   object
 1   User                3348 non-null   object
 2   Tweet               3348 non-null   object
 3   ID                  3348 non-null   float64
 4   Number of Retweets  3348 non-null   int64
 5   Number of likes     3348 non-null   int64
 6   Source              3348 non-null   object
 7   Location            2390 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 209.4+ KB

In [5]:
# to return the count of non-null values in each column
df.count()

Created at            3348
User                  3348
Tweet                 3348
ID                    3348
Number of Retweets    3348
Number of likes       3348
Source                3348
Location              2390
dtype: int64

In [6]:
# to return the total number of rows
len(df)

3348

In [7]:
# to return statistical calculations
df.describe()

                 ID  Number of Retweets  Number of likes
count  3.348000e+03         3348.000000      3348.000000
mean   1.577715e+18            0.250000         3.643967
std    7.962897e+14            2.803906        40.340408
min    1.576250e+18            0.000000         0.000000
25%    1.577080e+18            0.000000         0.000000
50%    1.577730e+18            0.000000         1.000000
75%    1.578390e+18            0.000000         2.000000
max    1.579140e+18           77.000000      2132.000000

In [8]:
df.head()

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
0,2022-10-09 15:56:27+00:00,SPStavrosAuthor,"@LynnDiavol I try to drink matcha over coffee, because it helps with anxiety problems instead of making them worse",1.579140e+18,0,0,Twitter for Android,Canada
1,2022-10-09 15:54:44+00:00,dellianarose,Height: 5‚Äô3‚Äù\nAge: 29\nShoe Size: 8 or 9 (depending on the shoe) \nZodiac Sign: Sagittarius \nTattoos: 1 \nPiercings: 2‚Ä¶ https://t.co/VA5nQx4NuK,1.579140e+18,0,0,Twitter for iPhone,"Ottawa, Ontario"
2,2022-10-09 15:36:25+00:00,DeeReads_,drink matcha and sin,1.579130e+18,0,1,Twitter Web App,NaN
3,2022-10-09 14:57:00+00:00,atasteofmadness,"Easy Vanilla Matcha Chai Latte recipe. This healthy warm comforting drink idea is vegan and gluten free, perfect on‚Ä¶ https://t.co/CUpNVNNdbh",1.579120e+18,1,0,Twitter Web App,"Chicago, IL"
4,2022-10-09 14:21:21+00:00,ogidigest,did you drink your oatly matcha latte today? https://t.co/Hb9bu8SWGX,1.579110e+18,0,0,Twitter Web App,NaN

In [9]:
df.shape

(3348, 8)

## Data Issues:

### Issue #1: Duplicates

In [13]:
# To check if 'macha' has been replaced with 'matcha', an attempt to return any tweet that contains the word 'macha' is made
# However, the dataframe returned is empty, which means there aren't any tweets with the word 'macha', and our normalization
# is successful!

df[df['Tweet'].str.contains('macha')]

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
2105,2022-10-09 09:26:00+00:00,Kidding_Jeff,"@peacefulplace I love macha,nearly equal green tea. https://t.co/4iLC3YApmx",1.579040e+18,0,0,Twitter for iPhone,JAPAN
2106,2022-10-09 08:08:13+00:00,SheWhoIsMe01,@LynnDiavol Try the Starbucks iced green (not macha) with Stevia. They shake it and it changes the viscosity a bit.‚Ä¶ https://t.co/2cr6Pq2GNx,1.579020e+18,0,0,Twitter for iPad,NaN
2107,2022-10-09 02:37:40+00:00,EroticEeveeMFC,@JJ1XYZ It IS green tea! Not macha.\n\nMixed with raw honey &amp; oat milk &lt;3,1.578940e+18,0,0,Twitter Web App,Los Angeles
2109,2022-10-08 21:03:50+00:00,Bemcdon01Sr,@LynnDiavol I still drink coffee but I have macha green tea every day too. Straight.,1.578850e+18,0,0,Twitter Web App,NaN
2110,2022-10-08 20:04:54+00:00,ADHD_Cyborg,@RiviereTosh @transientideas I love earl grey tea. You could also try green tea or a macha latte,1.578840e+18,0,2,Twitter for Android,NaN
2111,2022-10-08 17:54:12+00:00,SpaceBard,@LynnDiavol Green tea. I have bough macha once and that was good too. I didn't make it any special way. I did try i‚Ä¶ https://t.co/kQtzcczFhX,1.578810e+18,0,0,Twitter Web App,Chicago
2115,2022-10-07 23:45:02+00:00,Emby1781,"@SHB13426 I'll definitely have to try it out! I think they had some kind of grass tea or a macha tea, so I'll defin‚Ä¶ https://t.co/JZgtniZLnp",1.578530e+18,0,1,Twitter for Android,NaN
2118,2022-10-06 13:38:10+00:00,KingNeptune1220,@Twitch_Lobita I don‚Äôt even drink coffee‚Ä¶ but if I go to star bucks I get the green macha teaüò§ sooooo gooooooddd,1.578020e+18,0,0,Twitter for iPhone,NaN
2127,2022-10-05 04:41:36+00:00,ivalicea,@windupelezen lemon cake with a side of green macha tea! she quite loves that one! üòöüíï,1.577520e+18,0,1,Twitter Web App,Radz-at-Han
2131,2022-10-03 03:12:03+00:00,Gyrowoof,#Waff loves our #macha Green tea! XD https://t.co/fBEZQMBoLu,1.576770e+18,0,0,Twitter for Android,Little red dot
2137,2022-10-09 02:37:40+00:00,EroticEeveeMFC,@JJ1XYZ It IS green tea! Not macha.\n\nMixed with raw honey &amp; oat milk &lt;3,1.578940e+18,0,0,Twitter Web App,Los Angeles
2138,2022-10-08 17:54:12+00:00,SpaceBard,@LynnDiavol Green tea. I have bough macha once and that was good too. I didn't make it any special way. I did try i‚Ä¶ https://t.co/kQtzcczFhX,1.578810e+18,0,1,Twitter Web App,Chicago
2139,2022-10-06 22:02:01+00:00,RocksZeeCatgirl,"@ManicMoths Iced macha, whole milk, and strawberry compote and honey boba",1.578140e+18,0,0,Twitter for Android,NaN
2140,2022-10-05 19:20:24+00:00,chrissycrip,currently iced macha latte w oat milk https://t.co/AJ1EMOUeAr,1.577740e+18,0,0,Twitter for iPhone,
2145,2022-10-03 05:09:42+00:00,RuskiRedneck,Coffe macha carmel late with chocolate milk because they didn't have regular milk in the vending machine tast not g‚Ä¶ https://t.co/DBaDORam2Y,1.576800e+18,0,0,Twitter for Android,"Glenview, IL"
3327,2022-10-08 22:11:38+00:00,satourues,i blame that macha latte i drank at 9pm last night üíÄ,1.578870e+18,0,0,Twitter for iPhone,i: @Akila29582577 h: @a_iupfor
3329,2022-10-08 20:04:54+00:00,ADHD_Cyborg,@RiviereTosh @transientideas I love earl grey tea. You could also try green tea or a macha latte,1.578840e+18,0,2,Twitter for Android,NaN
3330,2022-10-08 15:53:34+00:00,IsmazatulHusna,"@polychompo Baru buka Julai haritu. Try their macha latte if you go there okie. Their pastries, buns &amp; cakes also nice üòÑ",1.578780e+18,0,0,Twitter for iPhone,Putrajaya ‚ÜîÔ∏è Ampang
3331,2022-10-08 07:30:07+00:00,fuigus,Trying out the orange yoghurt cheesecake and the macha latte. https://t.co/xKCLL5xyuH,1.578650e+18,0,0,Twitter for iPhone,N 4¬∞57' 0'' / E 114¬∞57' 0''
3334,2022-10-06 14:41:19+00:00,pixiebur,guys What is a macha latte,1.578030e+18,0,1,Twitter for Android,ic zapekan6000 üéó cbyf
3335,2022-10-06 10:34:40+00:00,kirinece,Guess who arriveddd fucking keito with his stupid face and the choco macha latte @addictwithawine sent me üíï https://t.co/P9NOaPMOvo,1.577970e+18,1,10,Twitter for Android,hell
3337,2022-10-05 19:20:24+00:00,chrissycrip,currently iced macha latte w oat milk https://t.co/AJ1EMOUeAr,1.577740e+18,0,0,Twitter for iPhone,
3340,2022-10-05 00:35:46+00:00,KimsyWhimsy79,@johnfeal2 @Jim_Jordan My $500 soy macha papa topya gobbledegook latte was great! Worth every penny!,1.577460e+18,0,4,Twitter for iPhone,"St Louis, MO"
3342,2022-10-03 11:59:36+00:00,moalollo,I just ordered macha latte and i got a fucking artwork https://t.co/tV6Dls3WEx,1.576900e+18,0,2,Twitter for Android,NaN
3346,2022-10-08 21:03:50+00:00,Bemcdon01Sr,@LynnDiavol I still drink coffee but I have macha green tea every day too. Straight.,1.578850e+18,0,0,Twitter Web App,NaN
3347,2022-10-06 20:45:38+00:00,amiris_brown,@josephdelong @DeanEigenmann I go and drink macha üçµ,1.578120e+18,0,1,Twitter for Android,STR Real Estate Investing

In [14]:
# Here, all of the tweets in the sample contain 'matcha' and not 'macha'
df[df['Tweet'].str.contains('matcha')].sample(10)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
3305,2022-10-01 20:24:20+00:00,MoneyOdesanya,I stayed up for 18 hours straight with no naps running on nothing but matcha green tea and will power.. then slept‚Ä¶ https://t.co/RD6pIFnw02,1.576310e+18,0,0,Twitter for iPhone,"Atlanta, GA"
1342,2022-10-05 18:41:59+00:00,AJisMIZFT,@ThegirlJT Try matcha latte light iced with brown sugar syrup and oat milk. It is AMAZING,1.577730e+18,0,0,Twitter for iPhone,"Pittsburgh, PA"
1190,2022-10-06 08:59:17+00:00,G1RLBOSS1NG,"tall iced matcha green tea latte w 2 pumps sf vanilla, 1 pump caramel, and pumpkin spice cold foam. and how ab we g‚Ä¶ https://t.co/QvNVx2OLVq",1.577950e+18,0,12,Twitter for iPhone,femcel
1152,2022-10-06 12:41:28+00:00,1exquisiteCee,I could go for a matcha latte rn‚Ä¶with oat milk &amp; raspberry syrup üòã,1.578000e+18,0,0,Twitter for iPhone,617
2660,2022-10-06 14:43:34+00:00,dtxserena,that matcha tea latte w sweet foam got me üòÇ https://t.co/m5Bdcg8DXL,1.578030e+18,0,0,Twitter for iPhone,"Dallas, TX"
3054,2022-10-04 00:17:37+00:00,saraiixovx,first meal of the day again was an iced green matcha tea latte üòµ‚Äçüí´,1.577090e+18,0,1,Twitter for iPhone,virgo ‚òº pisces ‚Üë aquarius ‚òæ
390,2022-10-04 06:50:33+00:00,hearvantie,"five tags, five faves \n\nfood: crepes \ndrink: matcha latte, Cha√Ø latte or tea\ncolor: Purple and green\nseason: fall a‚Ä¶ https://t.co/vpOQTsTw3w",1.577190e+18,0,3,Twitter for iPhone,she/her 20 y/o OT13 / OT7
2225,2022-10-03 10:43:33+00:00,yaospam,grabe i think i deserve a matcha frappe,1.576890e+18,0,0,Twitter for iPhone,NaN
1076,2022-10-06 18:58:05+00:00,JalisaChaney1,Ice matcha tea latte w/ soy milk &amp; 2 pumps of chai! https://t.co/AmEVHd3uqc,1.578100e+18,0,0,Twitter for iPhone,"Florida, USA"
380,2022-10-04 11:46:49+00:00,90supermodeI,"five tags, five faves \n\nfood: roasted broccoli with Salmon and lemon \ndrink: matcha latte, rooibos te, oolong tea a‚Ä¶ https://t.co/AxY7ws4NMP",1.577260e+18,1,6,Twitter for iPhone,hftwt fashiontwt

In [15]:
# Find duplicated rows that have the same value in 'Tweet' column
df[df.duplicated(subset='Tweet')].head()

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
559,2022-10-09 15:54:44+00:00,dellianarose,Height: 5‚Äô3‚Äù\nAge: 29\nShoe Size: 8 or 9 (depending on the shoe) \nZodiac Sign: Sagittarius \nTattoos: 1 \nPiercings: 2‚Ä¶ https://t.co/VA5nQx4NuK,1.579140e+18,0,0,Twitter for iPhone,"Ottawa, Ontario"
569,2022-10-09 14:57:00+00:00,atasteofmadness,"Easy Vanilla Matcha Chai Latte recipe. This healthy warm comforting drink idea is vegan and gluten free, perfect on‚Ä¶ https://t.co/CUpNVNNdbh",1.579120e+18,1,0,Twitter Web App,"Chicago, IL"
576,2022-10-09 14:21:21+00:00,ogidigest,did you drink your oatly matcha latte today? https://t.co/Hb9bu8SWGX,1.579110e+18,0,0,Twitter Web App,NaN
588,2022-10-09 13:28:29+00:00,fukuroumochi,"5 tags, 5 faves!\n\nfood: SUKIYAKI!! üç≤ \ndrink: matcha latte üçµ\ncolor: Seijoh color üíöü§ç (is it mint green or turquoise b‚Ä¶ https://t.co/tChOZzN5VX",1.579100e+18,0,2,Twitter Web App,she/her ‚Ä¢ 25+
605,2022-10-09 10:16:36+00:00,piirtelen,thank you for the tag cheeseüíï\n\n5 tags &amp; faves\nFood - i don't have a #1 but would currently love some bbq after fore‚Ä¶ https://t.co/b2L9KzfdAO,1.579050e+18,0,2,Twitter for Android,üá´üáÆ | they/them

In [16]:
# duplicates count
df.duplicated(subset='Tweet').sum()

413

In [17]:
# remving rows that have "RT" in the begining of the tweet
df = df[df["Tweet"].str.contains("RT") == False]

In [18]:
# check if rows that "RT" in the begining of the tweet have been removed
df[df["Tweet"].str.contains("RT")]
# empty dataframe means no tweet exists with such keyword

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

In [19]:
# check if duplicates were removed
df.duplicated(subset='Tweet').sum()

411

In [20]:
# Display duplicated rows
duplicateRowsDF = df[df.duplicated(subset='Tweet')]
duplicateRowsDF.head(4)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
559,2022-10-09 15:54:44+00:00,dellianarose,Height: 5‚Äô3‚Äù\nAge: 29\nShoe Size: 8 or 9 (depending on the shoe) \nZodiac Sign: Sagittarius \nTattoos: 1 \nPiercings: 2‚Ä¶ https://t.co/VA5nQx4NuK,1.579140e+18,0,0,Twitter for iPhone,"Ottawa, Ontario"
569,2022-10-09 14:57:00+00:00,atasteofmadness,"Easy Vanilla Matcha Chai Latte recipe. This healthy warm comforting drink idea is vegan and gluten free, perfect on‚Ä¶ https://t.co/CUpNVNNdbh",1.579120e+18,1,0,Twitter Web App,"Chicago, IL"
576,2022-10-09 14:21:21+00:00,ogidigest,did you drink your oatly matcha latte today? https://t.co/Hb9bu8SWGX,1.579110e+18,0,0,Twitter Web App,NaN
588,2022-10-09 13:28:29+00:00,fukuroumochi,"5 tags, 5 faves!\n\nfood: SUKIYAKI!! üç≤ \ndrink: matcha latte üçµ\ncolor: Seijoh color üíöü§ç (is it mint green or turquoise b‚Ä¶ https://t.co/tChOZzN5VX",1.579100e+18,0,2,Twitter Web App,she/her ‚Ä¢ 25+

In [21]:
# remove duplicates
df.drop_duplicates(subset='Tweet', inplace=True)

In [22]:
# check if duplicates were removed
df.duplicated(subset='Tweet').sum()

0

In [23]:
# check total number of rows in df
df.shape

(2929, 8)

### Issue #2: Hyperlinks

In [24]:
#Display tweets contain hyperlinks
df2[df2['Tweet'].str.contains('http\S')].count()

Created at            1680
User                  1680
Tweet                 1680
ID                    1680
Number of Retweets    1680
Number of likes       1680
Source                1680
Location              1215
dtype: int64

In [25]:
#Which .head(5) brings the 1st five rows tweets contain hyperlinks
#As shouwn; it brings rows contain Hyperlinks before manipulating 
df2[df2['Tweet'].str.contains('http\S')].head(5)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
1,2022-10-09 15:54:44+00:00,dellianarose,Height: 5‚Äô3‚Äù\nAge: 29\nShoe Size: 8 or 9 (depending on the shoe) \nZodiac Sign: Sagittarius \nTattoos: 1 \nPiercings: 2‚Ä¶ https://t.co/VA5nQx4NuK,1.579140e+18,0,0,Twitter for iPhone,"Ottawa, Ontario"
3,2022-10-09 14:57:00+00:00,atasteofmadness,"Easy Vanilla Matcha Chai Latte recipe. This healthy warm comforting drink idea is vegan and gluten free, perfect on‚Ä¶ https://t.co/CUpNVNNdbh",1.579120e+18,1,0,Twitter Web App,"Chicago, IL"
4,2022-10-09 14:21:21+00:00,ogidigest,did you drink your oatly matcha latte today? https://t.co/Hb9bu8SWGX,1.579110e+18,0,0,Twitter Web App,NaN
5,2022-10-09 13:55:48+00:00,maryam_a201,Id rather drink beer than drink matcha https://t.co/HiOMjtcJBG,1.579110e+18,0,0,Twitter for iPhone,"Rochester, NY"
6,2022-10-09 13:28:29+00:00,fukuroumochi,"5 tags, 5 faves!\n\nfood: SUKIYAKI!! üç≤ \ndrink: matcha latte üçµ\ncolor: Seijoh color üíöü§ç (is it mint green or turquoise b‚Ä¶ https://t.co/tChOZzN5VX",1.579100e+18,0,2,Twitter Web App,she/her ‚Ä¢ 25+

In [26]:
#This function removes hyperlinks from the tweets
def remove_URL(tweet):
    """Remove URLs from a sample string"""
    return re.sub(r"http\S+", "", tweet)

#Apply remove_URL method
df['Tweet'] = df['Tweet'].apply(remove_URL)

In [27]:
#To make sure 'Tweet' Column doesn't contain hyperlinks [I]
df[df['Tweet'].str.contains('http\S')].count()

Created at            0
User                  0
Tweet                 0
ID                    0
Number of Retweets    0
Number of likes       0
Source                0
Location              0
dtype: int64

In [28]:
#To make sure 'Tweet' Column doesn't contain hyperlinks [II]
#Which .head(5) brings the 1st five rows tweets contain hyperlinks
#As shouwn; it doesn't bring any row
df[df['Tweet'].str.contains('http\S')].head(5)

Empty DataFrame
Columns: [Created at, User, Tweet, ID, Number of Retweets, Number of likes, Source, Location]
Index: []

### Issue #3: Normalization

In [10]:
# NORMALIZATION PROBLEM

# It's been noticed that some Twitter users use 'Matcha' and sometimes 'Macha' while referring to the same drink.
# Therefore, it will be normalized to 'Matcha' in all tweets.

#This method takes the tweet as the parameter, normalizes the drink's spelling, then returns it.
def normalize(tweet):
    text = re.sub("macha","matcha", tweet)
    return tweet

In [11]:
df['Tweet'] = df['Tweet'].apply(normalize)

In [12]:
#Return a sample of the dataset
df.sample(5)

,Created at,User,Tweet,ID,Number of Retweets,Number of likes,Source,Location
2468,2022-10-08 02:26:29+00:00,Naomi_roze,"I just received a gift from Clay via Throne Gifts: ToroMatcha Organic Uji Matcha Powder, Ceremonial-Grade Japanese‚Ä¶ https://t.co/AVwmCexQbg",1.578570e+18,0,1,Throne App,18+ FemDom
219,2022-10-06 07:22:11+00:00,OxalisTea,Another of #oxalis' #tea-related #healthtips: One way of keeping colds at bay in colder seasons is to drink a cup o‚Ä¶ https://t.co/O0eGCoruvf,1.577920e+18,0,1,Twitter Web App,"Slusovice, Czech Republic"
3163,2022-10-03 03:48:47+00:00,MaxMaaxMaaax,@_cancelery_ Ooh so it depends on my mood. I'll give you my top 4 (no particular order)\n\n1: Ceremonial Green Tea (i‚Ä¶ https://t.co/U6nWMg9pR0,1.576780e+18,0,1,Twitter for Android,"Bloomington, IN"
672,2022-10-09 00:44:30+00:00,tadahhla,The alarm is going off on my floor but like I refuse to leave my apt. But I would leave to get a matcha latte rn lol,1.578910e+18,0,0,Twitter for iPhone,atlannuh
2721,2022-10-06 01:15:20+00:00,MANDSAMOUR,MATCHA GREEN TEA LATTE / FRAPPE https://t.co/tOrzIiTVbs,1.577830e+18,0,0,Twitter for iPhone,welcome to my world

In [33]:
#This function removes punctuations from the tweets

def remove_punctuations(tweets):
    translator=str.maketrans('','',string.punctuation)
    newTweets=tweets.translate(translator)
    newTweets=''.join(c for c in newTweets.split())
    return newTweets

#Apply remove_punctuations method
df['Tweet'] = df['Tweet'].apply(remove_punctuations)

NameError: name 'string' is not defined

In [34]:
#This function removes # ,@ and new lines from tweets

def remove_hashtags(tweet):
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    tweet = re.sub(r'\n','. ', tweet)
    
    #Replace @username with empty string
    tweet = re.sub('@[^\s]+', ' ', tweet)
    
    #Replace new lines with white space
    tweet = tweet.replace('\n',' ')
    tweet = tweet.replace('\t',' ')
    tweet = tweet.replace('_',' ')
    tweet = tweet.replace('\r',' ')
    
    return tweet